body {
    font-variant: small-caps;
  }
  
  .loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #3e0676;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }
    75% {
      box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
  }
  
  .breed-select {
    width: 200px;
    height: 30px;
    display: block;
    margin: 15px auto;
    border: #3e0676 solid 2px;
    border-radius: 10px;
    font-variant: small-caps;
  }
  
  .cat-info {
    width: 800px;
    display: flex;
    margin: 15px auto;
  }
  
  .cat-div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cat-img {
    border: #3e0676 solid 3px;
    border-radius: 15px;
  }
  
  .breed {
    display: inline-block;
    color: #3e0676;
    text-decoration: underline;
  }
  
  .descr {
    text-align: justify;
  }
  
  .temp {
    color: #3e0676;
  }
  